.idea/*
mqtt_sber_gate/**/__pycache__/*
*.json.ORIG
SberGate.log
.gitignore
ha_dev.json
devices.json
store_devices.json
mqtt_sber_gate/rootfs/app/categories.json
mqtt_sber_gate/rootfs/app/models.json
.gitignore
.vscode/launch.json
options.json
mqtt_sber_gate/rootfs/app/data/debug-data/*.json
mqtt_sber_gate/rootfs/app/*.json
mqtt_sber_gate/rootfs/app/entity_registry.json
mqtt_sber_gate/rootfs/app/ha_entity_states.json
mqtt_sber_gate/rootfs/app/new_devices_list.json
mqtt_sber_gate/rootfs/app/sber-gate.py
mqtt_sber_gate/rootfs/app/Request.sh
mqtt_sber_gate/tests/data/devices/lights/Color_Tuning/*
